.navbar{
    width: 100%;
    align-items: center;

    display: grid;
    grid-template-columns: 1fr 270px 1fr;
}

.navbar > div{
    display: flex;
}


.sidebar-gap{
    width: 80px;
    height: 80px;
    margin-right: 16px;
}

.nav-item{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #FFFFFF;
    margin: 10px;
    padding: 10px;
}

.nav-item:hover{
    color: #d6d6d6;
}

.nav-item.active{
    color: #F23B3B!important;
}


.nav-fav{
    justify-content: flex-end;
}

.menu-opc-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-left: 10px;
}

.logo{
    justify-content: center;
}

@media (max-width: 900px)
{
    .logo{
        display: none;
   }
   .navbar{
        grid-template-columns: 1fr 1fr;
    }

}